# Python
__pycache__/
*.py[cod]
__init__.py
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
